.socialWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.icon {
    width: 30px;
    height: 20px;
    color: white;
}

@media screen and (max-width: 991px){
    .icon {
        width: 20px;
        height: 16px;
    }
}