.container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}

.textContainer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
}

.textContent {
    text-align: left;
    text-align: center;
}

.textTitle{
    color: black;
    text-align: center;
}

@media screen and (max-width: 851px){
    .container{
        flex-direction: column;
    }

    .textContainer{
        margin: 1em;
        padding: 0;
    }
}