.newsletterWrap{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 1;
}

.newsletterWrap p{
    margin: 0.8em;
    margin-top: 0;
    text-align: center;
}

.subscriptionTitle{
    padding: 0;
}

.form{
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;
    width: auto;
}

.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

.inputEmail{
    background-color: white;
    color: black;
    padding: 0.7em;
    border: 1px solid #dbdbdb;
    border-style: solid none solid solid;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 100%;
}

.inputSubmit{
    padding: 0.7em;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #222;
    color: white;
    cursor: pointer;
}

